{% extends 'learning_logs/base.html' %}
{% block content %}
<html>
<head><h3>キーワードから好きなレシピを、『楽天レシピ』で見つけよう！　https://recipe.rakuten.co.jp/</h3>
    <h2>食材を入力してみよう　何も入力しないと、ランダムに表示されます</h2>
<div class="column is-offset-4 is-4">               
    <form action="{% url 'learning_logs:make_recipe' %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
        <input type="textbox" name="food">
        <input type="submit" id="button" name="button" value="食材を入力">
        </div>
    </form>
</div>
</head>
<body>
    {% comment %} <div class="jumbotron">
        {{ recipe | safe }}
    </div> {% endcomment %}
    <ul>
        {% for recipeTitle, recipe_url,foodImageUrl,recipeMaterial,recipeCost,recipeIndication in zip_recipe %} 

            <div class="jumbotron"><a href="{{ recipe_url }}" >『{{recipeTitle}}』</a> <font size="5">←クリックでサイトに移動</font></nobr><div><img src={{foodImageUrl}} width="200" height="200"alt="Image"></div><font size="5">必要なもの</br>{{recipeMaterial}}</br></font> <font size="5">コスト: {{recipeCost}} </br> 所要時間： {{recipeIndication}}</font></div>

        {% endfor %}
    </ul> 
</body>
</html>
{% endblock content %}