{% extends 'learning_logs/base.html' %}
{% block content %}


<style>
    p::before {
        content: "";
        background: #ffc778;
    }
</style>
<html>
<head><p>キーワードから好きなレシピを、『楽天レシピ』で見つけよう！　<a href ='https://recipe.rakuten.co.jp/'>https://recipe.rakuten.co.jp</a></p>
    <h2>食材を入力してみよう</br></h2></span>
    何も入力しないと、ランダムに表示されます
<div class="column is-offset-4 is-4">               
    <form action="{% url 'learning_logs:make_recipe' %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
        <input type="textbox" name="food">
        <input type="submit" id="button" name="button" value="レシピを検索">
        </div>
    </form>
</div>
</head>
<body>
    <ul>
        {% for recipeTitle, recipe_url,foodImageUrl,recipeMaterial,recipeCost,recipeIndication in zip_recipe %} 

            <div class="jumbotron"><font size="5"><a href="{{ recipe_url }}" >『{{recipeTitle}}』</a></font> <font size="4">←クリックでサイトに移動</font></nobr><div><img src={{foodImageUrl}} width="200" height="200"alt="Image"></div><font size="5">必要なもの</br>{% for Material in recipeMaterial %}<p>{{Material}}</br></p>{% endfor %}</font> <font size="5">コスト: {{recipeCost}} </br> 所要時間： {{recipeIndication}}</font></div>

        {% endfor %}
    </ul> 
</body>
</html>
{% endblock content %}