{% extends 'learning_logs/base.html' %}
{% block content %}
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script type="text/javascript">// 自由移動用
function put_result(){
    $("#result_box").empty();
	var id_order =[];
	$("#sortable").find(".jumbotron").each(function(index, element){
        id_order.push($(this).attr("id"));
	});
    $("#result_box").append(id_order+"<br />");
    return id_order;
}

$(function(){
	put_result();
	$("#sortable").sortable({
		axis: "y", 
		"opacity": 0.5,
		"update": function(event,ui){ 
			put_result();
		}
	});

});
// ここからajax
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
// ここまでajax

$('#ajax-number').on('submit', function(e) {
    e.preventDefault();

    $.ajax({
        'url': '{% url "learning_logs:add_test" %}',
        'type': 'POST',
        'data': {
            'number1': $('#number1').val(),
            'number2': $('#number2').val(),
            'id_order': put_result(),
        },
        'dataType': 'json'
    })
    .done(function(response){
        $('.result').prepend('<p>引き算結果：' + response.minus + '</p>');
        $('.result').prepend('<p>足し算結果：' + response.plus + '</p>');
    });
});
</script>

<style>
#sortable li{
    list-style-type: none;
    padding: 0px;
}
#sortable  {

}
.handle{
    color: #990;
    padding: 10px;
}
</style>


</head>
<h1>To Do一覧</h1>
    {% for topic in topics %}
    <h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </h3>
    {% empty %}
    <h3>To Doはまだ作成されていません。</h3>
    {% endfor %}
<div class="container">
    <form id="ajax-number" action="{% url 'learning_logs:add_test' %}" method="POST">
        {% csrf_token %}
        <input type="number" id="number1" required>
        <input type="number" id="number2" required>
        <button type="submit" >計算</button>
    </form>
    <div class="result">
    </div>
</div>
<h3><a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic' %}" role="button">新規To Doを追加 &raquo;</a></h3>
<body>
<div class="card mt-5">
    <div id="result_box" class="card-body">
    </div>
</div>
<div id="sortable">
    <div class="jumbotron" id="a">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>
            <div class="container">
                <nobr><font size="8">『{{ weather.city }}』</font><font size="5">の現在</font></nobr>
                {{ weather.description }}<img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image" width="200" height="200">
            </div>
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:weather' %}" role="button">詳細 &raquo;</a>
    </div>

    <div class="jumbotron" id="b">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>病気・ケガ
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">診断 &raquo;</a>
    </div>

    <div class="jumbotron" id="c">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>To Do
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic' %}" role="button">追加 &raquo;</a>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:test' %}" role="button">テスト（本番時に削除する） &raquo;</a>
    </div>

    <div class="jumbotron" id="d">
        <h1><i class="handle fas fa-arrows-alt-v">
        </i>Spotify 音楽 週間Top3
        </h1>
        <h4>
            {% for artist, title, url in zipmusic %}
        <ol>
            <nobr>
                <li>
                    <font size="5"><a>{{ artist }}</a>　<a href="{{ url }}" >『{{ title }}』</a></font><font size="4">クリックでSpotifyに移動</font>
                </li>
            </nobr>
        </ol>
            {% endfor %}
        </h4>
    </div>

    <div class="jumbotron" id="e">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>レシピ作成
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:make_recipe' %}" role="button">食材を入力 &raquo;</a>
    </div>

</div>
</body>
</html>

{% endblock content %}