{% extends 'learning_logs/base.html' %}
{% block content %}

<html>
<head>
<meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
#sortable {
    list-style-type: none;
    padding:0px;
}
#sortable div {
    margin: 10px 0px;
    padding: 10px;
    border: #199 3px solid;
}
.handle{
    color: #990;
    padding: 10px;
}
</style>
<script
src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
<script
src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"
integrity="sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k="
crossorigin="anonymous"></script>
<script src="./jquery.ui.touch-punch.min.js"></script>
<script>
$(function() {
    $('#sortable').sortable({
        handle: 'i.handle',
        axis: 'y'
    });
    $('#sortable').bind("sortstop", function(){
        $(this).find('[name="display_order"]').each(function(idx){
            $(this).val(idx + 1);
        })
    })
});
</script>
</head>
<body>
<h1>To Do一覧</h1>
{% for topic in topics %}
    <h3><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h3>
{% empty %}
<li>
    <h3>To Doはまだ作成されていません。</h3>
</li>
{% endfor %}
<h3><a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic' %}" role="button">新規To Doを追加 &raquo;</a></h3>
<div id="sortable">
    <div class="jumbotron" id="a">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>
            <nobr>
            <font size="8">『{{ weather.city }}』</font><font size="5">の現在</font>
            </nobr>
            {{ weather.description }}<img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:weather' %}" role="button">詳細 &raquo;</a>
    </div>

    <div class="jumbotron" id="b">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>病気・ケガ
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">診断 &raquo;</a>
    </div>

    <div class="jumbotron" id="c">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>To Do
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic' %}" role="button">追加 &raquo;</a>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:test' %}" role="button">テスト（本番時に削除する） &raquo;</a>
    </div>

    <div class="jumbotron" id="d">
        <h3><i class="handle fas fa-arrows-alt-v">
        </i>Spotify 音楽 Top3
        </h3>
        <h4>
            {% for title, uri in zipmusic %}
            <li>
                <nobr>
                <a>曲名『{{ title }}』</a>URL: <a href="{{ uri }}" >{{ uri }}</a>
                </nobr>
            </li>
            {% endfor %}
        </h4>
    </div>

    <div class="jumbotron" id="e">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>レシピ作成
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:make_recipe' %}" role="button">食材を入力 &raquo;</a>
    </div>

</div>
</body>
</html>

{% endblock content %}