{% extends 'learning_logs/base.html' %}
{% block content %}
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<select class="form-control" id="sample" onchange="viewChange();">
    <option value="select1">天気</option>
    <option value="select2">To do</option>
    <option value="select3">音楽 週間Top3</option>
    <option value="select4">レシピ作成</option>
    <option value="select5">--</option>
</select>


{% comment %} <div class="container">
    <div class="card mt-5">
        <div id="result_box" class="card-body">
        </div>
    </div>
    <form id="ajax-order" action="{% url 'learning_logs:save_order'%}" method="POST">
        {% csrf_token %}
        <input type="number" id="number1" required>
        <input type="number" id="number2" required>
        <button type="submit" >保存</button>
    </form>
    <div class="result">
    </div>
</div> {% endcomment %}

<script type="text/javascript">

$(function(){
	$("#sortable").sortable({
		axis: "y", 
		"opacity": 0.5,
		"update": function(event,ui){ 
		}
	});

});
function viewChange(){
    if(document.getElementById('sample')){
        id = document.getElementById('sample').value;
        if(id == 'select1'){
            document.getElementById('a').style.display = "";
            document.getElementById('c').style.display = "none";
            document.getElementById('d').style.display = "none";
            document.getElementById('e').style.display = "none";

        }else if(id == 'select2'){
            document.getElementById('a').style.display = "none";
            document.getElementById('c').style.display = "";
            document.getElementById('d').style.display = "none";
            document.getElementById('e').style.display = "none";

        }
        else if(id == 'select3'){
            document.getElementById('a').style.display = "none";
            document.getElementById('c').style.display = "none";
            document.getElementById('d').style.display = "";
            document.getElementById('e').style.display = "none";

        }
        else if(id == 'select4'){
            document.getElementById('a').style.display = "none";
            document.getElementById('c').style.display = "none";
            document.getElementById('d').style.display = "none";
            document.getElementById('e').style.display = "";

        }
        else if(id == 'select5'){
            document.getElementById('a').style.display = "";
            document.getElementById('c').style.display = "";
            document.getElementById('d').style.display = "";
            document.getElementById('e').style.display = "";

        }

    }

window.onload = viewChange;
return id;
}

// ここからajax
//function getCookie(name) {
    {% comment %} var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function (xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
// ここまでajax

$('#ajax-order').on('submit', function(e) {
    id = viewChange;
    e.preventDefault();
    $.ajax({
        'url': '{% url "learning_logs:topics"%}',
        'type': 'POST',
        "dataType": "text",
        'data': {
            'order': id,
        },
    })
    .done(function(response){
    });
}); {% endcomment %}
</script>

<style>
#sortable li{
    list-style-type: none;
    padding: 0px;
}
#sortable  {

}
.handle{
    color: #990;
    padding: 10px;
}
</style>


</head>
<h1>To Do一覧</h1>
    {% for topic in topics %}
    <h3>
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </h3>
    {% empty %}
    <h3>To Doはまだ作成されていません。</h3>
    {% endfor %}
<h3><a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic' %}" role="button">新規To Doを追加 &raquo;</a></h3>
<body>

<div id="sortable">
    <div class="jumbotron" id="a">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>
            <div class="container">
                <nobr><font size="8">『{{ weather.city }}』</font><font size="5">の現在</font></nobr>
                {{ weather.description }}<img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image" width="200" height="200">
            </div>
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:weather' %}" role="button">詳細 &raquo;</a>
    </div>

    <div class="jumbotron" id="c">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>To Do
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:new_topic'%}" role="button">追加 &raquo;</a>
    </div>

    <div class="jumbotron" id="d">
        <h1><i class="handle fas fa-arrows-alt-v">
        </i>Spotify 音楽 週間Top3
    <font size="4">クリックでSpotifyに移動</font>
        </h1>
        <h4>
            {% for artist, title, url in zipmusic %}
        <ol>
            <nobr>
                <li>
                    <font size="5"><a>{{ artist }}</a>　<a href="{{ url }}" >『{{ title }}』</a></font>
                </li>
            </nobr>
        </ol>
            {% endfor %}
        </h4>
    </div>

    <div class="jumbotron" id="e">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>レシピ作成
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:make_recipe' %}" role="button">食材を入力 &raquo;</a>
    </div>
    
    {% comment %} <div class="jumbotron" id="b">
        <h3 class="display-4">
            <i class="handle fas fa-arrows-alt-v">
            </i>病気・ケガ
        </h3>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">診断 &raquo;</a>
    </div> {% endcomment %}

</div>
</body>
</html>

{% endblock content %}