{% extends 'learning_logs/base.html' %}
{% block content %}
<head>3日間の天気
        縦軸が平均気温
        横軸が○時間後
</head>
<body>
<div class="column is-offset-4 is-4">               
<ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
<div class="card mb-3">

<script type="text/javascript">

// ▼グラフの中身
var lineChartData = {
    labels : {{x}},
    datasets : [
        {
            label: "平均気温",
            fillColor : "rgba(0,0,0,0)",
            strokeColor : "rgba(92,220,92,1)",
            pointColor : "rgba(92,220,92,1)",
            pointStrokeColor : "white", 
            pointHighlightFill : "yellow", 
            pointHighlightStroke : "green", 
            data : {{y}}
        },
    ]
}

window.onload = function(){
    var ctx = document.getElementById("graph-area").getContext("2d");
    window.myLine = new Chart(ctx).Line(lineChartData);
}
</script>
<canvas id="graph-area" height="500" width="1010">
    ※表示にはcanvas要素を解釈可能なブラウザが必要です。
</canvas>
</ul>
</div>
{% for icon in weather_icon　%}
<div style="float: left;"><img src="http://openweathermap.org/img/w/{{ icon }}.png" width="40" height="40"alt="Image"></div>
{% endfor %}
</body>
</html>
{% endblock content %}